:root {
    --colorPrimario: #FFF;
    --colorSecundario: #000;
    --colorBoton: #ffda14;
    --colorBoton2: #897400;
    --colorBackground: #004e00;
    --colorBackgroundGrad: #001400;
    /*--colorLetras: #ff0000;*/
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
    height: 100%;
}
body {
    background-color: var(--colorBackground);
    min-height: 100%;
}
.grid-container {
    max-width: 425px;
    display: grid;
    grid-template-columns: auto 100px;
    grid-template-rows: 100px auto 60px;
    grid-template-areas: 
    "header header"
    "main sidebar"
    "footer footer";
}
/* HEADER */
header {
    margin-bottom: 3rem;
    grid-area: header;
    background-image: linear-gradient(var(--colorBackgroundGrad), var(--colorBackground));
}
h1 {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 3rem;
    color: var(--colorPrimario);
}

/* MAIN */
.main-tabla {
    max-width: 500px;
    grid-area: main;
}
.main-resultados {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    grid-area: sidebar;
    font-size: 1.7rem;
    border: 2px var(--colorPrimario) solid;
    border-radius: 10px;
}

/* SIDEBAR */
button {
    margin-top: .5rem;
    margin-bottom: 4rem;
    padding: .5rem;
    font-size: 2rem;
    font-weight: bold;
    background-image: linear-gradient(45deg, var(--colorBoton), var(--colorBoton2));
    color: var(--colorSecundario);
    border-radius: 10px;
}
#boton_banca {
    margin-top: 2rem;
}
#boton_volver {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.boton_reset {  
    margin-top: 3rem;
    margin-bottom: 0;
}
.resultados {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    line-height: 3rem;
    color: var(--colorPrimario);
}
.numeros {
    justify-self: center
}

/* TABLA */
.tabla_resultados {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(30, 1fr);
    /*column-gap: 5px;*/
}
.numeroCasillero {
    background: none;
    border: none;
    text-align: center;
    font-weight: bold;
    color: var(--colorBoton);
}

/* BORDES TABLA */
.top-left,
.top-right,
.table-left,
.table-right,
.bottom-left,
.bottom-right {
    border: 1px var(--colorPrimario) solid;
    text-align: center;
    font-size: 2rem;
    color: var(--colorPrimario);
}
.top-left {
    border-top: 4px var(--colorPrimario) solid;
    border-left: 4px var(--colorPrimario) solid;
    border-bottom: 4px var(--colorPrimario) solid;
    border-top-left-radius: 10px;
    margin-left: .3rem;
}
.top-right {
    border-top: 4px var(--colorPrimario) solid;
    border-right: 4px var(--colorPrimario) solid;
    border-bottom: 4px var(--colorPrimario) solid;
    border-top-right-radius: 10px;
    margin-right: .3rem;
}
.table-left {
    border-left: 4px var(--colorPrimario) solid;
    margin-left: .3rem;
}
.table-right {
    border-right: 4px var(--colorPrimario) solid;
    margin-right: .3rem;
}
.bottom-left {
    border-bottom: 4px var(--colorPrimario) solid;
    border-left: 4px var(--colorPrimario) solid;
    border-bottom-left-radius: 10px;
    margin-left: .3rem;
}
.bottom-right {
    border-bottom: 4px var(--colorPrimario) solid;
    border-right: 4px var(--colorPrimario) solid;
    border-bottom-right-radius: 10px;
    margin-right: .3rem;
}

/* FOOTER */
footer {
    padding-top: 2rem;
    font-size: 2rem;
    text-align: center;
    grid-area: footer;
    background-image: linear-gradient(var(--colorBackground) 25%, var(--colorBackgroundGrad));
    color: var(--colorPrimario);
}